body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.hero-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/כניסה_לציון_רבי_שמעון_בר_יוחאי_תשע_ט.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
